<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pccegoa.mithya2k18">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mithya_logo_round"
        android:supportsRtl="true"
        android:name=".ApplicationClass"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity"></activity>
        <activity
            android:name=".DevelopersActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".EventsActivity"
            android:exported="true"
            android:parentActivityName=".DashboardActivity">></activity>
        <activity android:name=".DeptScore"
            android:label="Score"/>
        <activity android:name=".ScheduleActivity"
            android:label="Schedule"/>
        <activity android:name=".TeamActivity"
            android:label="Team"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>